/* styles.css */
body {
  margin: 0;
  font-family: 'Arial', sans-serif;
}

.section {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

#home {
  background-color: #222;
  color: #fff;
}

#proyectos {
  background-color: #444;
  color: #fff;
}

#skills {
  background-color: #666;
  color: #fff;
}

#contacto {
  background-color: #888;
  color: #fff;
}

/* Añade aquí más secciones según sea necesario */

/* Animaciones */
.fade-in {
  opacity: 0;
  transform: translateY(20px);
}

.fade-in.active {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 0.8s ease, transform 0.8s ease;
}
