/* Header.module.css */
.headerContainer {
  position: fixed;
  top: 0;
  left: 0;
  /* width: 100%;
  height: 120px; */
  background: url('../../assets/backHeader.gif');
  background-size: cover;
  height: 100vh;
  width: 100vh;
  color: #fff;
  padding: 1rem;
  text-align: center;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logoContainer {
  flex-shrink: 0;
}

.logo {
  padding-left: 20px;
  width: 80px;
  height: auto;
}

.navigation {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  margin-top: 100px;
}

.navigation a {
  position: relative;
  font-size: 1.5rem;
  font-weight: bold;
  cursor: pointer;
  padding: 1rem 1rem;
  margin: 0.5rem;
  background-color: transparent;
  color: #7e65ff;
  overflow: hidden;
  border: none;
}

.navigation a::before,
.navigation a::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: linear-gradient(to right, #667eea, #764ba2);
  z-index: -1;
  transition: transform 0.3s ease;
}

.navigation a::before {
  transform-origin: top left;
  transform: scaleX(0);
}

.navigation a::after {
  transform-origin: bottom right;
  transform: scaleX(0);
}

.navigation a:hover::before,
.navigation a:hover::after {
  transform: scaleX(1);
}

.navigation a:hover {
  color: #ff4081;
}

.navigation a:hover::before {
  animation: moveBorderTop 0.5s forwards;
}

.navigation a:hover::after {
  animation: moveBorderBottom 0.5s forwards;
}

@keyframes moveBorderTop {
  to {
    transform-origin: top left;
    transform: scaleX(0);
  }
}

@keyframes moveBorderBottom {
  to {
    transform-origin: bottom right;
    transform: scaleX(0);
  }
}
