/* Header.module.css */

body {
  overflow-x: hidden;
  overflow-y: auto;
}

/* #hero{
    min-height: 100vh;
    position: relative;
} */
video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.capa{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #1a1a8d;
    opacity: 0.5;
    mix-blend-mode: overlay;
}

.headerContainer {
  min-height: 100vh;
  background: url('../../assets/Plexus_Wave_Background.mp4');
  color: white;
  /* padding: 40px; */
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.title {
  font-size: 3rem;
  margin: 0;
  margin-top: 40px;
  position: relative;
  z-index: 2;
  width: 80%;
}

.subtitle {
  font-size: 1.5rem;
  margin-top: 10px;
  opacity: 0.8;
  position: relative;
  z-index: 2;
  width: 80%;
}

.navigation {
    position: absolute;
    bottom: 20px; /* Ajusta según sea necesario */
    width: 100%;
    display: flex;
    justify-content: center;
    z-index: 2;
}

.navItem {
    color: white;
    text-decoration: none;
    margin: 0 1%; /* Ajustado el margen y el ancho */
    font-size: 1.5rem;
    opacity: 0.8;
    cursor: pointer;
    transition: opacity 0.3s ease-in-out;
}

.navItem:hover {
  opacity: 1;
}